


.about
    display: flex
    flex-direction: column
    gap: 10px
.block-title
    font-family: 'Playfair-900'

.block-body, .experience-item__period
    font-family: 'SansNarrow-400'




.experience-item
    &__subtitle
        display: flex

    &__position
        text-transform: uppercase
        color: sandybrown
        font-family: 'SansNarrow-700'
        letter-spacing: 1px
        font-size: 18px
        line-height: 24px


.education
    &__title
        padding-bottom: 20px
    &__description
        display: flex
        font-size: 18px
        line-height: 24px
    &__university
        text-transform: uppercase
        color: sandybrown
        font-family: 'SansNarrow-700'
        letter-spacing: 1px
    &__year
        font-family: 'SansNarrow-400'



@media screen and (min-width: 220px)
    .about
        padding-top: 40px
        padding-bottom: 90px
    .block-title
        font-size: 32px
        line-height: 42px
    .block-body
        font-size: 18px
        line-height: 30px


    .experience
        display: flex
        justify-content: center
    .experience-title
        padding-bottom: 24px
    .experience-item
        &__subtitle
            flex-direction: column
            gap: 8px
            padding-bottom: 20px
        &__description
            padding-bottom: 40px


    .education__description
        flex-direction: column
        gap: 8px


@media screen and (min-width: 768px)
    .about-wrapper, .experience-wrapper
        max-width: 498px
    .about
        padding-top: 65px
        padding-bottom: 118px
        align-items: center
    .block-body
        font-size: 20px
        line-height: 34px

    .experience-title
        padding-bottom: 26px

    .education
        display: flex
        justify-content: center
    .education-wrapper
        min-width: 497px


@media screen and (min-width: 1440px)
    .about-wrapper, .experience-wrapper
        max-width: 635px
    .about
        padding-top: 85px
        padding-bottom: 156px
        &__title
            display: none
    .block-title
        font-size: 36px
        line-height: 46px

    .experience-title
        padding-bottom: 16px


    .education-wrapper
        min-width: 635px
    .education__description
        flex-direction: row
        gap: 0px
        justify-content: space-between

// experience


.experience-title




