
@font-face {
	font-family: 'SansNarrow-700';
	src: url('./fonts/PTSansNarrow-Bold.eot');
	src: local('☺'), url('./fonts/PTSansNarrow-Bold.woff') format('woff'), url('./fonts/PTSansNarrow-Bold.ttf') format('truetype'), url('./fonts/PTSansNarrow-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'SansNarrow-400';
	src: url('./fonts/PTSansNarrow-Regular.eot');
	src: local('☺'), url('./fonts/PTSansNarrow-Regular.woff') format('woff'), url('./fonts/PTSansNarrow-Regular.ttf') format('truetype'), url('./fonts/PTSansNarrow-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair-900';
	src: url('./fonts/PlayfairDisplay-Black.eot');
	src: local('☺'), url('./fonts/PlayfairDisplay-Black.woff') format('woff'), url('./fonts/PlayfairDisplay-Black.ttf') format('truetype'), url('./fonts/PlayfairDisplay-Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}