*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a {
    color: #000;
    text-decoration: none
}



body{
    margin-top: 35px;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
.content{
    display: flex;
    padding: 1rem 2rem;
}

nav{
    position: relative;
    bottom: -70px;
}
nav ul{
    display: flex;
}
nav ul li{
    margin-right: 15px;
}

.section-top{
    display: flex;
    
    align-items: center;
    position: relative;
}
.section-left{
    width: 40%;
}
.section-right{
    width: 60%;
}
.photo-wrapper{
    max-width: 40%;
}
.photo-wrapper img{
    width:50%;
    border-radius: 50%;
    position: relative;
    left:5%;
}
.title-wrapper{
    width:60%;
    position: relative;
}
.title-wrapper p{
    font-size: 1.75rem;
}

.projects-flex{
    display: flex;
    justify-content: space-between;
}
.projects-flex div{
    padding-top: 1rem;
}
.experience{
    display: flex;
}
h2{
    padding-bottom: 0.5rem;
    padding-top: 2rem;
font-size: 28px;
border-bottom: solid 1px #9EC1D4;
}

section{
    padding-bottom: 0.6rem;
}
section h3{
    padding-top: 1rem;
    padding-bottom: 0.3rem;
    font-size: 20px;
}

.job-position{
    margin-left: 25px;
}
.article-projects{
    height: 717.6px;
}
.article-skills{
    height: 302.13px;
}
.article-about{
    margin-left: 2rem;
    margin-right: 2rem;
}
footer div{
    display: flex;
    justify-content: space-between;
}
.logotype-rss{
    max-width:2rem;
}
.about-block{
text-align: right;
margin-bottom: 35px;
}
a:hover{
    color: #9EC1D4;
}
.code-example{
    position: relative;
    top: 40px;
}